html {
    scroll-behavior: smooth;
  }


body {
    background-color: #4d1d9e;

}
.header {
    margin: auto;
    margin-top: 50px;
    width: 1200px;
    border-radius: 30px;
    -webkit-border-radius: 12px; 
    height: 50px;
    background-color: white;
    min-width: 654px;
}
.header a {
    height:20px;
    font-size: 18px;
    border: none;
    background-color: #fff;
    margin-left: 4%;
    margin-right: 4%;
    font-family: 'Roboto', sans-serif;
    color: #575757;
    text-decoration: none;

}



a:hover {
    color: rgb(126, 32, 170);
}

.header img {
    width: 30px;
    top: 10px;
    left: -5px;

    position: relative;

}
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 100px;
    border-radius: 30px;
    padding-bottom: 100px;
    height: 465px;
    width: 1200px;
    background-color: #250e4d;
}

.kolonne {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    overflow: hidden;
}
.oknkol {
    text-align: left;
    position: relative;
}
.reskol {
    margin: auto;
    left: 400px;
    
}

.reskol img {
    width: 100%;
    margin-top: 20px;
}

h1 {
    color: white;
    font-size: 60px;
    margin-top: 3px;
}

p {
    color: white;
    margin-bottom: 0px;
    font-size: 20px;
}

.reskol a {
    color: white;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.text {
    max-width: 500px;
    display: inline-block;
}

@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.slide-in-bottom{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}
.slide-in-bottom2{-webkit-animation:slide-in-bottom .8s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .8s cubic-bezier(.25,.46,.45,.94) both}

.fade-in {
	-webkit-animation: fade-in 2.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.slide-in-left{-webkit-animation:slide-in-left .4s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left .4s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}






.members {
    vertical-align: center;
    margin: auto;
    margin-top: 0px;
    position: fixed;
    width: 150px;
    left: 5;
    border-radius: 30px;
    -webkit-border-radius: 12px; 
    background-color: white;
    display: flex;
    text-align: center;
    flex: 1;
    flex-direction: column;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.members2 {
    margin: auto;
    margin-top: 0px;
    width: 180px;
    position: fixed;
    right: 5;
    border-radius: 30px;
    -webkit-border-radius: 12px; 
    background-color: white;
    display: flex;
    text-align: center;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.members p,.members2 p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

.members h2 {
    font-size: 15px;
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
    padding-top: 10px;
}

.member {
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;
    margin-top: 10px;
    float: left;
    cursor: pointer;


}
.member h1 {
    color: #575757;
    margin-left: 0px;    
    font-size: 15px;
    margin-bottom: 5px;
    float: left;
}
.member a {
    color: #575757;
    margin-left: 0px;    
    font-size: 15px;
    margin-top: 3px;
    vertical-align: center;
    margin-bottom: 5px;
    float: left;
    text-decoration: none;
}
.member img {
    background-color: #513781;
    border-radius: 20px;
    margin-right: 10px;
    float: left;
    text-align: center;
    
}


.sm img {
    background-color: white;
    margin-right: 5px;
    margin-top: 5px;
    max-width: 25px;
    margin: 0 auto;
}



.map {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1200px;
    border-radius: 30px;
    -webkit-border-radius: 12px; 
    height: 770px;
    background-color: #250e4d;
    min-width: 654px;
    overflow-x: hidden;
}

.stats {
    margin: auto;
    margin-top: 50px;
    width: 60%;
    border-radius: 30px;
    -webkit-border-radius: 12px; 
    height: 770px;
    background-color: white;
    min-width: 504px;
    
}


.map iframe {
    margin-top: 10px;
    border-radius: 30px;
}

.stats iframe {
    margin-top: 20px;
    border-radius: 30px;
}

.map h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}


.feed {
    width: 1200px;
    background-color: #250e4d;
    margin: 0 auto;
    border-radius: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;

}

.feed h1 {
    font-size: 35px;
    font-weight: 500;
}

.feed p {
    color: red;
}

.files {
    width: 1200px;
    margin: 0 auto;
}

.worlds {
    display: flex;
}

.s1 {
    width: 350px;
    margin: 0 auto;
    height: 150px;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #250e4d;
    text-align: center;
}

.s1 h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.s1 a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #250e4d;
    font-weight: 800;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    font-weight: 300;
}

@media (max-width:690px){
    .header {
      height: 50px;
      min-width: 393px;
      
    }
    .header img {
        width: 30px;
        top: 5px;
        left: 20%; 
    }
    .a {
        top: 20px;
        float: left;
    }
    .reskol {
        display: none;
    }
    .kolonne {
        display: block;
    }
    .rad {
        display: block;
    }
    .map{
        min-width: 393px;
        
    }
    .oknkol {
        text-align: center;
        width: 50%;
        margin: auto;
    }

}


@media (max-width:1151px){
    .oknkol {
        text-align: center;
        width: 50%;
        margin: auto;
    }
    
    .reskol {
        display: none;
    }
    .kolonne {
        display: block;
    }
    .rad {
        display: block;
    }

}


@media (max-width:1312px){
    .stats iframe{
        height: 1200px;
    }

}
@media (max-width:992px){
    .stats iframe{
        height: 1325px;
    }

}

